 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>We create our custom defined projects in any programming language, suited to our clients' needs.</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <img src="{{ "/assets/img/Vulkan.svg" | prepend: site.baseurl }}" height="60"/>
      <img src="{{ "/assets/img/OpenGL.svg" | prepend: site.baseurl }}" height="60"/>
      <p>We use the latest graphics technology that allows us to create some of the next-gen graphics techniques and experiments.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="{{ "/assets/img/ue.svg" | prepend: site.baseurl }}" height="60"/>
      <img src="{{ "/assets/img/unity.svg" | prepend: site.baseurl }}" height="60"/>
      <img src="{{ "/assets/img/vive.png" | prepend: site.baseurl }}" height="60"/>
      <img src="{{ "/assets/img/oculus.png" | prepend: site.baseurl }}" height="60"/>
      <p>We use the latest tools, well established for our customers' needs. If there is a necessity for new tools, we can develop them!</p>
    </div>
</div>
