<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
	      	<a aria-label="Email" target="_blank" href="mailto:{{ site.mdlab.email }}" rel="canonical"><i class="icon fa fa-envelope"></i></a>
		<a aria-label="Twitter" target="_blank" href="{{ site.mdlab.twitter }}" rel="canonical"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
		<a aria-label="Instagram" target="_blank" href="{{ site.mdlab.instagram }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Us</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
