<div class="user-details">
	<h1> Featured Projects </h1>
</div>

{% for post in site.posts %}
{% assign mod = forloop.index | modulo: 2 %}
<div class="user-projects">
{% if mod == 0 %} 
	<div class="images-left">
{% else %}
	<div class="images-right">
{% endif %}

{% if post.img %}
		<img src="{{ post.img | prepend: site.baseurl }}" />		
{% elsif post.vid %}
		<iframe src="{{ post.vid }}" ></iframe>
{% else %}
		<img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
{% endif %}
	</div>
{% if mod == 0 %}
	<div class="contents-right">
{% else %}
	<div class="contents">
{% endif %}
		<h3> {{ post.title }} </h3>
		<p> {{ post.excerpt }} </p>
		<!--	
		<ul>
			<li> Featured Skills: </li>
		</ul>
		-->
{% if post.vid %}
	<a class="project-link" href="{{ post.vid }}">Check it out</a>
{% endif %}
	</div>
</div>
{% endfor %}
